.App {
  text-align: center;

  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.OldApp-header {
  top: -51px;
  left: 0px;
  width: 1920px;
  height: 151px;
  background: transparent url('../GinkoHeader/headerBackground.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}



.App-link {
  color: #61dafb;
}
